@using static TestWebsite.Enums.GeneralEnum;
@model TestWebsite.Models.Quote.QuoteViewModel

<form asp-action="CreateQuote"
      asp-controller="QuoteForm"
      data-ajax="true" data-ajax-method="POST"
      data-ajax-success="createQuoteSuccess"
       name="createQuoteForm"
      id="createQuoteForm">

    @Html.AntiForgeryToken()
    <div class="row">
        <div class="col form-group">
            @Html.LabelFor(x => x.Quote.Title)
            @Html.DropDownListFor(m => m.Quote.Title, new SelectList(Enum.GetValues(typeof(Title))),
            "Select Title",
            new { @class="form-control dropdown" })
            @Html.ValidationMessageFor(model => model.Quote.Title,
            "", new {@class = "text-danger"})
        </div>
        <div class="col form-group">
            @Html.LabelFor(x => x.Quote.ContactName)
            @Html.TextBoxFor(x => x.Quote.ContactName, new { @class = "form-control" })
            @Html.ValidationMessageFor(x => x.Quote.ContactName,"", new { @class = "text-danger" })
        </div>
        <div class="col form-group">
            @Html.LabelFor(x => x.Quote.EmailAddress)
            @Html.TextBoxFor(x => x.Quote.EmailAddress, new { @class = "form-control", @type = "email"  })
            @Html.ValidationMessageFor(m => m.Quote.EmailAddress, "", new { @class = "text-danger  " })

        </div>
    </div>
  
    <div class="row">
        <div class="col form-group">
            @Html.LabelFor(x => x.Quote.TotalSize)
            @Html.TextBoxFor(x => x.Quote.TotalSize, new { @class = "form-control", @type = "number", @step = "any" })
            @Html.ValidationMessageFor(x => x.Quote.TotalSize,"", new { @class = "text-danger" })
        </div>
        <div class="col form-group">
            @Html.LabelFor(x => x.Quote.TotalRebuildCost)
            @Html.TextBoxFor(x => x.Quote.TotalRebuildCost, new { @class = "form-control", @type = "number", @step = "0.10" })
            @Html.ValidationMessageFor(x => x.Quote.TotalRebuildCost,"", new { @class = "text-danger" })
        </div>
    </div>
      <div class="row">
        <div class="col form-group">
            <input type="checkbox" id="show" name="show" /> &nbsp; Flat Roof cover is needed <br />
            <div id="box" style="display:none">
                 @Html.LabelFor(x => x.Quote.RoofSize)
                @Html.TextBoxFor(x => x.Quote.RoofSize, new { @class = "form-control col-md-4", @type = "number", @step = "any" })
                @Html.ValidationMessageFor(x => x.Quote.RoofSize,"", new { @class = "text-danger" })
            </div>
        </div>
        
    </div>
    <button id="submitQuoteFormBtn" type="submit" class="btn btn-primary form-submit-button">Submit</button>
</form>
@section Scripts {



    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
    <script>
        const checkbox = document.getElementById('show');
        const box = document.getElementById('box');

        checkbox.addEventListener('click', function handleClick() {
            if (checkbox.checked) {
                box.style.display = 'block';
            } else {
                box.style.display = 'none';
            }
        });

        $("#createQuoteForm").submit(function () {
            if ($('form').valid()) {
                $(':input[type="submit"]').prop('disabled', true);
                $(":input[type='submit']").addClass("pe-none");
            }
        });


        var createQuoteSuccess = function (context) {
            document.createQuoteForm.reset();
            $(':input[type="submit"]').prop('disabled', false);
            $(":input[type='submit']").removeClass("pe-none");
            if (context.successful)
                alert("We have recieved your form, your reference is: " + context.reference + ".");
            else
                alert(context.error);
        };


    </script>
}